body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe4e1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.container{
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.card{
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    animation: fadeIn 0.5s ease-in;
}

.hidden{
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
}

button{
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s;
}


#open-btn, #yes-btn{
    background-color: #ff4d6d;
    color: white;
}

#no-btn{
    background-color: #adb5bd;
    color: white;
    transition: 0.2s ease;
    z-index: 999;
}

@keyframes fadeIn{
    from {opacity: 0;  transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

.envelope-emoji{
    font-size: 80px;
    margin-bottom: 10px;
}